/* Navbar.css */
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem; 
   position: fixed;
   width: 100%;
   height: 90px;
   z-index: 10;
}
.header-bg{
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
}
.logo {
    width: 160px;
    cursor: pointer;
}
.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
ul{
    list-style-type: none;

}

.btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248,217,15);
    color: #222;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn-light{
    background: transparent;
    color: #fff;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

@media  screen and (max-width:1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;

    }
    .nav-menu li a{
        font-size: 2rem;
    }
    .hamburger{
        display: initial;
    }
}
/* .navbar {
    width: 100%;
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    transition: 0.5s;
} */

/* .logo {
    width: 160px;
    cursor: pointer;
} */

/* ul {
    flex: 1;
    list-style: none;
    text-align: center;
} */

/* ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
} */

/* .search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
} */

/* .search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width:  200px;
    color: #fff; 
} */

/* .search-box img {
    width: 20px;
    cursor: pointer;
} */

/* .toggle {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
} */

/* .dark .navbar {
    background: #000;
    color: #fff;
} */

/* .dark .search-box {
    background: #fff;
} */

/* .dark .search-box input {
    color: #222;
} */
/* .login{
    margin-left: 15px;
} */